@keyframes example {
    0% {
        background-image: url('1.1.png');
    }

    10% {
        background-image: url('1.2.png');
        left: 10%;
    }

    20% {
        background-image: url('1.3.png');
        left: 20%;
    }

    30% {
        background-image: url('1.4.png');
        left: 30%;
    }

    40% {
        background-image: url('1.5.png');
        left: 40%;
    }

    50% {
        background-image: url('2.1.png');
        left: 50%;
    }

    60% {
        background-image: url('2.2.png');
        left: 60%;
    }

    70% {
        background-image: url('2.3.png');
        left: 70%;
    }

    80% {
        background-image: url('2.4.png');
        left: 80%;
    }

    90% {
        background-image: url('2.5.png');
        left: 90%;
    }

    100% {
        background-image: url('1.1.png');
        left: 95%;

    }

}

@keyframes animation {
    0.00% {
        background-color: red;
    }

    14.29% {
        background-color: orange;
        animation-delay: 10s;
    }

    28.57% {
        background-color: yellow;
        animation-delay: 10s;
    }

    42.86% {
        background-color: green;
        animation-delay: 10s;
    }

    57.14% {
        background-color: blue;
        animation-delay: 10s;
    }

    71.43% {
        background-color: indigo;
    }

    85.71% {
        background-color: violet;
    }

    100.00% {
        background-color: red;
    }
}

html,
body {
    height: 100vh;
}

body {
    background-image: url('bgr.jpg');
    animation-delay: 2.5s;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-name: animation;
    background-size: cover;
}

.div1 {
    top: 65%;
    width: 150px;
    height: 200px;
    animation-name: example;
    animation-duration: 2.5s;
    position: relative;
    background-size: cover;
    animation-iteration-count: 1;
}